<!DOCTYPE html>
<html ng-app>
<head>
	<title>Rails | Angular</title>
	<meta charset="utf-8">
	<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
</head>
<body>
<input type="text" ng-model='name'>
{{name}}
</body>
</html>